.slider{
    width: 35%;
    margin-top: -9%;

}
.navor{
    width: 70%;
    margin-left: 500px;
    padding: 80px;
}
.container img {
  width: 25%;  
}
.form{
width: 35%;
margin-left: 50%;
margin-top: -48%;
}
.caption{
    font-size: 13px;
}